<% layout('layouts/boilerplate')%>

<div class="container my-5">
	<h1>Edit Profile</h1>
	<% user.user_profile.forEach(element => { %>
	<form action="/dashboard/<%=user._id%>?_method=PUT" method="POST">
		<div class="mb-3">
			<label class="form-label" for="first_name">First Name</label>
			<input class="form-control" type="text" name="first_name" id="first_name" placeholder="First Name"
				value="<%=element.first_name%>">
		</div>
		<div class="mb-3">
			<label class="form-label" for="last_name">Last Name</label>
			<input class="form-control" type="text" name="last_name" id="last_name" placeholder="Last Name"
				value="<%=element.last_name%>">
		</div>
		<div class="mb-3">
			<label class="form-label" for="address">Address</label>
			<input class="form-control" type="text" name="address" id="address" placeholder="Address"
				value="<%=element.address%>">
		</div>
		<div class="mb-3">
			<label class="form-label" for="phone">Phone</label>
			<input class="form-control" type="number" name="phone" id="phone" placeholder="Phone"
				value="<%=element.phone%>">
		</div>
		<div class="mb-3">
			<label class="form-label" for="birthdate">Birth Date</label>
			<input class="form-control" type="text" name="birthdate" id="birthdate" placeholder="Birth Date"
				value="<%=element.birthdate%>">
		</div>
		<div class="mb-3">
			<label class="form-label" for="gender">Gender</label>
			<input class="form-control" type="text" name="gender" id="gender" placeholder="Gender"
				value="<%=element.gender%>">
		</div>
		<% }); %>
		<a href="/dashboard/<%=user._id%>" class="btn btn-light btn-small">Cancel</a>
		<button class="btn btn-success">Submit</button>
	</form>
</div>